<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="init_orientation"/>
    <arg name="ns"/>

    <node name="mpc_bot_spawn" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -urdf -param /$(arg ns)/robot_description -model $(arg robot_name)"
     respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" 
          name="robot_state_publisher" output="screen"/>

    <!-- virual bot, create a object of the class bot -->
    <node name="$(arg robot_name)" pkg="mpc" type="spawn_virtual_bot.py" output="screen" > 

        <param name="name" value="$(arg robot_name)" />

    </node>
   


</launch>
